body {
    text-align: center;
    background: #232425;
    font-family: sans-serif;
    font-weight: 900;
}

h1 {
    color: #32a6a8;
    font-weight: 900;
    font-size: 35px;
    margin: 40px 0px 20px;
}

h2 {
    color: #32a6a8;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
}

.countdown {
    font-family: Papyrus;
    color: #fff;
    display: inline-block;
    font-weight: 150;
    text-align: center;
    font-size: 25px;
}

#endtime {
    padding: 5px;
    width: 200px;
    font-size: 12px;
}

.countdown-content {
    padding: 10px;
    border-radius: 3px;
    background: #4c4c4c;
    display: inline-block;
}

.countdown-content span {
    padding: 15px;
    border-radius: 3px;
    background: #11f0f5;
    display: inline-block;
}

.btn {
    padding: 3px 20px;
    margin: 10px auto;
    outline: none;
    border: none;
    background: #32a6a8;
    font-size: 16px;
    font-weight: bold;
    color: #0c0d0d;
    cursor: pointer;
}

a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    background: #cc0;
    border-radius: 15px;
    text-decoration: none;
}

a:hover {
    background: #fff;
}

.btn:hover {
    background: #fff;
}

.btn-disabled {
    cursor: default;
    pointer-events: none;
    background: #ccc;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

footer {
    font-size: 12px;
    clear: both;
    text-align: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
